<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.4" targetFramework="native" />
  <package id="AForge.Controls" version="2.2.4" targetFramework="native" />
  <package id="AForge.Imaging" version="2.2.4" targetFramework="native" />
  <package id="AForge.Math" version="2.2.4" targetFramework="native" />
  <package id="AForge.Video" version="2.2.4" targetFramework="native" />
  <package id="AForge.Video.DirectShow" version="2.2.4.1" targetFramework="native" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net461" />
</packages>